# Окружение (Самое важное!)
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.pyc

# База данных (в начале разработки обычно не коммитим)
db.sqlite3

# Настройки IDE
.idea/
.vscode/

# Кэш тестов
.pytest_cache/
